<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/estilo.css">
  <title>CSS</title>
</head>

<body>
  <div class="envolver">
    <header>
      <nav class="barra_navegacion">
        <div class="marca">
          <h2>GRAFICACIÒN </h2>
          <h3>Introducción a los ambientes de graficación.</h3>
        </div>
        <ul class="menu">
          <li><a href="index.html" class="btn">Historia</a></li>
          <li><a href="css.html" class="active">CSS</a></li>
          <li><a href="svg.html" class="btn">SVG</a></li>
          <li><a href="Dibujo.html" class="btn">Dibujo</a></li>
        </ul>
      </nav>
    </header>
  </div>

  <div class="envolver-cont1">
    <div class="rectangulo">
      <h2>Rectangulo</h2>
    </div>
    <div class="cuadrado">
      <h2>Cuadrado</h2>
    </div>
    
    <div class="circulo">
      <h2>Circulo</h2>
    </div>
    
    
    <div class="triangulo">
      <h2 id="triangulo-css">Triangulo</h2>
    </div>
    
    <div class="rombo">
      <h2>Rombo</h2>
    </div>
    
    <div class="pentagono">
      <h2 id="rombo-css">Pentagono</h2>
    </div>

  </div>

  <div class="creador">
    <p>Sitio diseñado por edwin</p>
  </div>

  </footer>
</body>

</html>