<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="dibujo.css">
	<link rel="stylesheet" href="../css/estilo.css">
	<title>DIBUJO</title>
</head>

<body style="background-color:#FFE898;">
</body>

<body>
	<div class="envolver">
		<header>
			<nav class="barra_navegacion">
				<div class="marca">
					<h2>GRAFICACIÒN</h2>
					<h3>Introducción a los ambientes de graficación.</h3>
				</div>
				<ul class="menu">
					<li><a href="index.html" class="btn">Historia</a></li>
					<li><a href="css.html" class="btn">CSS</a></li>
					<li><a href="svg.html" class="btn">SVG</a></li>
					<li><a href="Dibujo.html" class="active">Dibujo</a></li>
				</ul>
			</nav>
		</header>
	</div>

	<main>
		<div class="tree-wrapper">
			<div class="tree">
				<div class="shadow"></div>
				<div class="layer"></div>
				<div class="shadow"></div>
				<div class="layer"></div>
				<div class="layer"></div>
			</div>
		</div>
		<div class="trunk"></div>
		<div class="xmax-sphere-one"></div>
		<div class="xmax-sphere-two"></div>
		<div class="xmax-sphere-tre"></div>
		<div class="xmax-sphere-fur"></div>
		<div class="xmax-sphere-fiv"></div>
		<div class="snowland"></div>

		<div class="snowman">
			<div class="cir-base"></div>
			<div class="cir-body"></div>
			<div class="cir-head"></div>
		</div>
			<div class="carrot"></div>
			<div class="eye-one"></div>
			<div class="eye-two"></div>
			<div class="smile"></div>
			<div class="hat-base"></div>
			<div class="hat-copa"></div>
			<div class="botom-one"></div>
			<div class="botom-two"></div>

			<div class="stick-r-one"></div>
			<div class="stick-r-two"></div>

			<div class="stick-l-one"></div>
			<div class="stick-l-two"></div>

	</main>
</body>

</html>