<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/estilo.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Zeyada&display=swap" rel="stylesheet">
  <title>GRAFICACION</title>
</head>

<body>
  <div class="envolver">
    <header>
      <nav class="barra_navegacion">
        <div class="marca">
          <h2>GRAFICACIÒN </h2>
          <h3>Introducción a los ambientes de graficación.</h3>
        </div>
        <ul class="menu">
          <li><a href="index.html" class="active">Historia</a></li>
          <li><a href="css.html" class="btn">CSS</a></li>
          <li><a href="svg.html" class="btn">SVG</a></li>
          <li><a href="Dibujo.html" class="btn">Dibujo</a></li>
        </ul>
      </nav>
    </header>
  </div>

  <div class="envolver-cont">

    <div class="main-page-titulo">
      <h2 id="Title-index">Graficas primitivas</h2>

      <div class="main-page-definicion">
        <h2>¿Qué son?</h2>
        <p>Los gráficos primitivos son un objeto básico que es esencial para la creación o construcción de imágenes
          complejas. Los
          gráficos se construyen a partir de tres elementos básicos, a diferencia de la gran variedad de aplicaciones
          gráficas. La
          más básica de estas estructuras elementales es el píxel, abreviatura de elemento de imagen (picture element).
        </p>
        <div class="content-img">
          <img src="../assets/img/diseno-grafico.png" alt="">
        </div>

      </div>

      <div class="main-page-origen">
        <h2>Origen</h2>
        <p id="parrafo-uno">Para los años cincuenta la creación de impresoras, de los tubos de rayos catódicos y de
          salidas usando
          teletipos
          marcaron el inicio de la computación gráfica. En su momento el uso de caracteres blanco y negro lograron que
          se
          reprodujera un cuadro o ilustración gráfica.
        </p>

        <p id="parrafo-dos">En el año de 1950, Ben Lapasky creo una máquina electrónica análoga gracias a la
          implementación de imágenes
          gráficas y
          un osciloscopio. El resultado de esto se logro evidenciar manipulando vigas electrónicas y resgistrándolas
          sobre una
          película a alta velocidad.
        </p>

        <p id="parrafo-tres">En el año de 1951, UNIVAC-I crea la primera computadora comercial de propósito general en
          la uso dispositivos en copia
          dura e impresoras de línea. En ese mismo año también, MIT - WirldWind invento la primera computadora que
          permitía
          mostrar vídeo en tiempo real, la cual era capaz de exhibir texto y gráficos en tiempo real en una pantalla
          grande de
          osciloscopio.
        </p>
        <div class="content-img">
          <img src="../assets/img/origen_uno.jpeg" alt="">
        </div>
      </div>

      <div class="main-page-conceptos">
        <h2>Conceptos Básicos</h2>

        <h3 id="pixel-title">Pixel</h3>
        <p id="parrafo-cuatro">Un píxel es solo un pequeño punto en las pantallas de trama. Aunque no tiene estructura, definitivamente es un bloque de
        construcción y, por lo tanto, puede considerarse como la primitiva gráfica. La resolución de CRT está relacionada con el
        tamaño del punto, el diámetro de un solo punto. Una resolución de 100 líneas de puntos/pulgada implica un tamaño de
        punto de 0,01 pulgadas. La relación entre la distancia entre los centros de dos píxeles horizontales adyacentes y la de
        los verticales se denomina relación de píxeles. La relación de píxeles debe tenerse en cuenta en los algoritmos de
        generación de líneas.
        </p>
        <div class="content-img" id="pixel-img">
          <img src="../assets/img/diseno-grafico.png" alt="">
        </div>

        <h3 id="linea-title">Linea</h3>
        <p id="parrafo-cinco">Las líneas rectas constituyen el componente básico de los gráficos de líneas, gráficos de barras y circulares, gráficos
        bidimensionales y tridimensionales de funciones matemáticas, dibujos de ingeniería y planos arquitectónicos. En los
        gráficos por computadora, la línea recta es tan básica en la creación de imágenes que la llamamos una primitiva de
        gráficos. Las líneas rectas se pueden desarrollar de dos maneras diferentes. Un método estructural determina qué píxeles
        deben configurarse antes de dibujar la línea; un método condicional prueba ciertas condiciones para encontrar qué píxel
        debe configurarse a continuación.
        </p>
        <div class="content-img" id="linea-img">
          <img src="../assets/img/diseno-grafico.png" alt="">
        </div>

        <h3 id="poligono-title">Poligono</h3>
        <p id="parrafo-seis">Un polígono es un área cerrada de la imagen delimitada por líneas rectas o curvas y rellena con un color sólido. Dado
        que las imágenes son bidimensionales, un polígono es una figura plana cerrada. Un polígono es una primitiva gráfica
        importante. Muy a menudo queremos manejar polígonos como una sola entidad, ya que las imágenes de objetos del mundo real
        consisten en gran parte de polígonos.
        </p>
        <div class="content-img" id="poligono-img">
          <img src="../assets/img/diseno-grafico.png" alt="">
        </div>
    </div>

  </div>

  <div class="creador">
    <p>Sitio diseñado por edwin</p>
  </div>

  </footer>
</body>

</html>