<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>SVG</title>
</head>
<body>
    <div class="envolver">
        <header>
          <nav class="barra_navegacion">
            <div class="marca">
              <h2>GRAFICACIÒN </h2>
              <h3>Introducción a los ambientes de graficación.</h3>
            </div>
            <ul class="menu">
              <li><a href="index.html"   class="btn">Historia</a></li>
              <li><a href="css.html" class="btn">CSS</a></li>
              <li><a href="svg.html" class="active">SVG</a></li>
              <li><a href="Dibujo.html" class="btn">Dibujo</a></li>
            </ul>
          </nav>
        </header>
      </div>

    <div class="envolver-cont1">
        <h2>Rectangulo</h2>
        <svg width="150" height="100">
            <rect width="150" height="100" style="fill:#FCE22A;stroke-width:10;stroke:rgb(0,0,0)" />
          </svg>
        <h2>Cuadrado</h2>
        <svg width="100" height="100">
            <rect width="100" height="100" style="fill:#FCE22A;stroke-width:10;stroke:rgb(0,0,0)" />
          </svg>
      <h2>Circulo</h2>
      <svg width="100" height="100">
        <circle cx="50" cy="50" r="50" stroke="rgb(0,0,0)" stroke-width="5" fill="#FCE22A" />
      </svg> 
      <h2>Triangulo</h2>
      <svg width="250" height="150" viewBox="0 0 250 150">
        <polygon points="125,10 175,130 75,130" style="fill:#FCE22A;stroke:#003300;stroke-width:3"></polygon>
     </svg>
      <h2>Rombo</h2>
      <div class="rombo"></div>  
      <h2>Pentagono</h2>
      <div class="pentagono"></div> 
     
    </div>
    
			<div class="creador">
				<p>Sitio diseñado por edwin</p>
			</div>

		</footer>
</body>
</html>