<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/estilo.css">
  <title>SVG</title>
</head>

<body>
  <div class="envolver">
    <header>
      <nav class="barra_navegacion">
        <div class="marca">
          <h2>GRAFICACIÒN </h2>
          <h3>Introducción a los ambientes de graficación.</h3>
        </div>
        <ul class="menu">
          <li><a href="index.html" class="btn">Historia</a></li>
          <li><a href="css.html" class="btn">CSS</a></li>
          <li><a href="svg.html" class="active">SVG</a></li>
          <li><a href="Dibujo.html" class="btn">Dibujo</a></li>
        </ul>
      </nav>
    </header>
  </div>

  <div class="envolver-cont2">
    <h2 id="titulo-rect-svg">Rectangulo</h2>
    <svg id="rectangulo-svg" width="150" height="100">
      <rect width="150" height="100" style="fill:#7589fb;stroke-width:10;stroke:rgb(0,0,0)" />
    </svg>
    <h2 id="titulo-square-svg">Cuadrado</h2>
    <svg id="square-svg" width="100" height="100">
      <rect width="100" height="100" style="fill:#7589fb;stroke-width:10;stroke:rgb(0,0,0)" />
    </svg>
    <h2 id="titulo-circle-svg">Circulo</h2>
    <svg id="circle-svg" width="110" height="110">
      <circle cx="50" cy="50" r="47" stroke="rgb(0,0,0)" stroke-width="5" fill="#7589fb" />
    </svg>
    <h2 id="titulo-trian-svg">Triangulo</h2>
    <svg id="trian-svg" width="180" height="100" viewBox="0 0 250 150">
      <polygon points="125,12 175,130 75,130" style="fill:#7589fb;stroke:#003300;stroke-width:3"></polygon>
    </svg>
    <h2 id="titulo-rombo-svg">Rombo</h2>
    <svg id="rombo-svg">
      <polygon fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" points="103.008,125 125,86.909 146.992,125 
      		125,163.092 	" style="fill:#7589fb;stroke-width:5;stroke:rgb(0,0,0)"/>
    </svg>
    <h2 id="titulo-penta-svg">Pentagono</h2>
    <svg id="penta-svg">
      <polygon points="175 40, 270 108, 233 216, 117 216, 81 108" style="fill:#7589fb;stroke-width:5;stroke:rgb(0,0,0)"/>
    </svg>

  </div>

  <div class="creador">
    <ul>
        <li><a href="">EDWIN ABIEZER CRUZ DE DIOS</a></li>
        <li><a href="">MIGUEL RAZIEL JESUS FERNANDEZ PASCUAL</a></li>
        <li><a href="">RICARDO TAMAY CANCHE</a></li>
    </ul>
  </div>

  </footer>
</body>

</html>