h2{
    font-size: 45px;
}
.rectangle {
    height: 50px;
    width: 100px;
    background-color: rgb(0, 102, 255);
  }
  .cuadrado {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
  }

.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
}



